legend{
    font-size: 1em;
}
.qntProd{
    width: 100px;
}

.qntdiv{
    width: 110px;
}

.col-md-4{
    margin-left: 5px;
}
.imgProd{
    width: 500px;
}

.descricaoProduto{
    width: 800px;
}
.descProdText{
    width: 800px;
}

textarea{
    border-radius: 12px;
    border: 2px solid black;
}