@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.form-signin {
        width: 100% !important;
        max-width: 330px !important;
        max-height: 80% !important;
        padding: 15px !important;
        margin: auto !important;
        text-align: center !important;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 44px;
        backdrop-filter: blur(12px);
        background-color: rgba(255,255,255, 0.265);
        box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
        border: 1px rgba(255,255,255,0.4) solid;
        border-bottom: 1px rgba(40,40,40,0.35) solid;
        border-right: 1px rgba(40,40,40,0.35) solid;
}
*, ::after, ::before {
    box-sizing: border-box ;
}
.lilacbird{
    margin-top: 20% !important;
}
.copairite{
    margin-bottom: 25% !important;
}
.text-center {

    text-align: center !important;
}
body {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-rgb: 33,37,41;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}

#cadastro{
	margin-top: 10px;
	background: green;
}

.email-get button{
    width:auto !important;
    height: auto;
    display: inline !important;
    font-size: 0.7em;
    border-radius: 10px;
    background: lightcoral !important;
    color: black;
    font-weight: bold !important;
}
.email-get button:hover{
    background: black !important;
}
.footer-links{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -20%;
}
.footer-links h4{
    font-size: 1em !important;
    font-weight: bold;
}