.container-master{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;

}

.container-update{
    border: 1px solid blue;
    width: 500px;
}
#update-item-title{
    border: 1px solid red;
    text-align: start;
    font-size: 1.1em;
    color: white;
    font-weight: bold;
    padding: 30px 10px 50px;
}

.img-update{
    width: 200px;
    border: 1px solid red;
    object-fit: contain;
}
.btns{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: -5px;
}

.btn-edit{
    margin-left: 40px;
}

/* .btn-x{
 
} */

.btn-img{
    width: 40px;
}
